@tailwind base;
@tailwind components;
@tailwind utilities;


/* SUCCESS POPUP ANIMATION */
@keyframes slideIn {
  0% { transform: translateY(-20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slideIn {
  animation: slideIn 0.4s ease forwards;
}

/* CHECKMARK ANIMATION */
.checkmark__circle {
  stroke: #22c55e;
  stroke-width: 4;
  stroke-miterlimit: 10;
  animation: stroke 0.6s ease-in-out forwards;
}

.checkmark {
  width: 48px;
  height: 48px;
  stroke-width: 4;
  stroke: #22c55e;
  fill: none;
}

.checkmark__check {
  animation: stroke 0.4s 0.6s ease-in-out forwards;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  stroke-linecap: round;
}

@keyframes stroke {
  100% { stroke-dashoffset: 0; }
}
